{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "arrowParens": "always",
  "parser": "typescript",
  "plugins": ["prettier-plugin-organize-imports"],
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "markdown"
      }
    },
    {
      "files": [
        ".github/workflows/**/*.yml",
        ".github/workflows/**/*.yaml"
      ],
      "options": {
        "parser": "yaml"
      }
    },
    {
      "files": [
        ".configs/.ctirc",
        "tsconfig.json",
        "tsconfig.*.json",
        ".vscode/**/*.json"
      ],
      "options": {
        "parser": "json"
      }
    }
  ]
}